<ion-header>
    <ion-toolbar>
        <ion-title>lista-empleos</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <ion-list>
        <ion-list-header>
            Empleos
        </ion-list-header>

        <ion-item *ngFor="let empleo of empleados | async; trackBy: trackByFn">
            <ion-label (click)="showEmpleo(empleo.uid)">
                <h3 style="color: greenyellow">{{empleo.titulo}}</h3>
                <p style="color: greenyellow">{{empleo.descripcion}}</p>
                <p style="color: greenyellow">{{empleo.salario}}</p>
            </ion-label>
        </ion-item>
    </ion-list>

    <ion-list>
        <ion-list-header>
            Empleos con IESS
        </ion-list-header>

        <ion-item *ngFor="let empleo of empleados | async; trackBy: trackByFn">
            <ion-label (click)="showEmpleo(empleo.uid)">
                <h3 style="color: greenyellow">{{empleo.titulo}}</h3>
                <p style="color: greenyellow">{{empleo.descripcion}}</p>
                <p style="color: greenyellow">{{empleo.salario}}</p>
                <p style="color: rgb(255, 255, 255)">{{empleo.iess}}</p>
            </ion-label>
        </ion-item>
    </ion-list>

    <ion-list>
        <ion-list-header>
            cosas
        </ion-list-header>

        <ion-item *ngFor="let cosa of cosas">
            <ion-avatar slot="start">
                <img src="../../assets/img/download.jpg">
            </ion-avatar>
            <ion-label>
                <h3 style="color: greenyellow">{{cosa.id}}</h3>
                <p style="color: greenyellow">{{cosa.nombre}}</p>
            </ion-label>
        </ion-item>
    </ion-list>


    <ion-fab vertical="top" horizontal="end" slot="fixed">
        <ion-fab-button (click)='showCrearEmpleo()'>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>


</ion-content>