<ion-header>
    <ion-toolbar>
        <ion-title>
            Scanner
        </ion-title>
        <ion-button (click)="scan()" slot="end">
            <ion-icon name="Bluetooth"></ion-icon>
            <p>Scan</p>
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-card-content ion-item *ngFor="let device of devices">
            <p>{{device.name}}</p>
            <p>{{device.id}}</p>
            <p> RSSI: {{device.rssi}}</p>
            <ion-button (click)=" conectar(device.id) ">connect</ion-button>
        </ion-card-content>
    </ion-list>
</ion-content>